<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 40rem;">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please enter email & password</h6>
                </div>
               
                    <form [formGroup]="LoginForm">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Username</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="username">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
                        </div>
                        <br>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="submit" class="btn btn-outline-dark"  (click)="LoginBtn()">Login</button>
                        </div>

                      </form>
            
            </div>
        </div>
    </div>
</div>

