
.card{
    color: whitesmoke;
     border: none;
     width: 500рх;
     padding: 70px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background: rgb(96, 177, 235);
     background: linear-gradient(90deg, rgba(9, 93, 93, 0.8) 0%,  rgba(100, 190, 180, 0.644) 100%);
 
 }
 
 
 
 