

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ONLINE STORE</a>
    <div  id="navbarSupportedContent">
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="USER/home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">LOGOUT</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CATEGORY
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" *ngFor="let c of Category">
              <select class="form-select" aria-label="Default select example">
                <option value="{{c.categoryName}}">{{c.categoryName}}</option>
      
              </select>
            </ul> 
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/USER/cart"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
            </svg></a>
            <!-- <div style="font-size: 9px;" class="badge bg-danger">0</div> -->
            
          </li>
        </ul>
      </div>
      
      
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
