/* You can add global styles to this file, and also import other style files */
body{
    // background-color: rgba(211, 206, 206, 0.443);
    // background-color: rgba(255, 255, 255, 0);
    // box-shadow: 2px 2px 50px 40px rgba(1, 1, 1, 0.175);

    font-size: 1rem;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: SF Pro Text,system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #ffffff;
    color: var(--colors-text,var(--color-text));
    font-style: normal;
    word-wrap: break-word;
    
}
